h1 {
    
    color: firebrick;
    text-align: center;
    font-variant: small-caps;
    
}
header{
    background-color: aqua;
}

h2{
    font-variant: small-caps;
    color: brown;
    
}
section{
    
    background-color: aqua;
}

aside{
    display:none;   
    }
table{
     text-align: center;
}
